
<footer>
	<div class="container row">
		<div class="textbox text-center col-12">
			<p>Since 1994</p>
			<h3>Farm Fresh To You</h3>
			<p>
				268 Spring Haven Trail, Wayne, New Jersey<br>
				973-687-5588<br>
				732-703-1502<br>
				farmfreshtoyou@gmail.com
			</p>
		</div>
		<div class="links col-12 text-center">
			<ul class="d-flex justify-content-center">
				<li><a href="#">Try our products</a></li>/
				<li><a href="#">How we delivery</a></li>/
				<li><a href="#">Discount coupon</a></li>/
				<li><a href="#">Visit our farm</a></li>
			</ul>
		</div>
	</div>
</footer>