
  <div class="modal" id="deleteModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Delete Customer</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <% if (customer) { %>
          <form action="/delete-customer" method="POST">
            <div class="form-row">
              <input type="hidden" id="custId" name="id" value="<%= customer.id %>">
            </div>
      
            <button type="submit" class="btn btn-warning">Confirm</button>
      
          </form>
          <% } %>
        </div>    
      </div>
    </div>
  </div>
  
